@charset "UTF-8";
@import "../common/common";

html, body{
	background-color: #eee;
}
.w-750{
	width: 750px;
	margin: 0 auto;
}
//需求详情头部样式
.mod-top{
	width: 700px;
	height: 124px;
	margin: 0 auto;
	padding: 25px;
	border-bottom: 1px solid #d1d1d1;/*no*/
	border-top: 1px solid #d6d6d6;/*no*/
	background-color: #fff;
	.top{
		line-height: 40px;
		.tool{
			display: inline-block;
			padding: 0 4px;
			border: 1px solid #40d1ad;/*no*/
			border-radius: 4px;
			color: #40d1ad;
		}
	}
	.title{
		position: relative;
		height: 50px;
		line-height: 50px;/*px*/
		font-weight: bold;
		font-size: 24px;/*px*/
		.name{
			position: absolute;
			display: inline-block;
			left: 0;
			font-weight: bold;
		}
		.price{
			position: absolute;
			display: inline-block;
			right: 0;
			color: #40d1ad;
		}
	}
	.bottom{
		position: relative;
		height: 50px;
		line-height: 50px;/*px*/
		font-size: 20px;/*px*/
		.i, .em{
			font-style: normal;
		}
		.upto, .bid{
			position: absolute;
			display: inline-block;
			color: #b0b0b0;
		}
		.bid{
			left: 0;
			color: #b0b0b0;
		}
		.upto{
			right: 0;
			.i{
				color: #ffb712;
				margin-left: 10px;
			}
		}
	}
}
//需求描述样式
.mod-main{
	border-top: 1px solid #d7d7d7;/*no*/
	background-color: #fff;
	color: #666;
	.title{
		padding-left:25px;
		height: 56px;
		line-height: 56px;
		font-size: 22px;/*px*/
		background-color: #eee;
	}
	.describe{
		line-height: 36px;/*px*/
		padding:25px;
		font-size: 20px;/*px*/
		background-color: #fff;
	}
}


.mod-bottom{
	.bid-record{
		padding-left: 25px;
		line-height: 56px;/*px*/
		color: #666;
		.i{
			font-style: normal;
		}
	}
	.creat-item{
		padding: 0 25px;
		background-color: #fff;
		.item{
			position: relative;
			height: 80px;
			line-height: 80px;/*px*/
			border-bottom: 1px solid #ccc;
			font-size: 24px;
			color: #40d1ad;
			.companny, .status{
				position: absolute;
				height: 80px;
				line-height: 80px;/*px*/
				display: inline-block;
			}
			.companny{
				left: 0;
			}
			.status{
				right: 0;
			}
		}
	}
}
