@charset "UTF-8";
@import "../common/common";
html,body{
	background-color: #eee;
}
.w-750{
	width: 750px;
	margin: 0 auto;
}
/* --头部模块，公司logo-- */
.mod-top{
	height: 135px;
	border-bottom: 1px solid #ccc;/*no*/
	background-color: #fff;
	.logo{
		margin-left: 25px;
		float: left;
		width: 110px;
		height: 134px;
		//border: 1px solid red;
		overflow: hidden;
		.img{
				margin-top: 23px;
				overflow: hidden;
				width: 88px;
				height: 88px;
				//border: 1px solid red;
				border-radius: 50%;
				text-align: center;
				img{
					width: 88px;
					height: 88px;
				}
		}
	}
	.describe{
		float: left;
		.title{
			margin-top: 40px;
			font-size: 30px;/*px*/
			font-weight: bold;
		}
		i{
			margin-right: 4px;
		}
		.tel-num{
			margin-top: 15px;
			color: #999;
		}

	}
}
/* --报价说明-- */
.mod-main{
	margin-bottom: 150px;
	.price-explain{
		padding-left:25px; 
		height: 62px;
		line-height: 62px;
		font-size: 22px;/*px*/
		color: #666;
	}
	.describe{
		padding: 25px;
		background-color: #fff;
		color: #333;
		font-size: 22px;/*px*/
		line-height: 36px;/*px*/
	}
}
/* ---按钮样式--- */
.mod-btn{
	position: fixed;
	bottom: 0;
	border-top: 1px solid #ccc;/*no*/
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding: 25px 0;
	.ui-btn{
		width: 680px;
	}
}

