@charset "UTF-8";
@import "../common/common";

html, body{
	background-color: #eee;
}
.w-750{
	width: 750px;
	margin: 0 auto;
}
/* ---头部样式--- */
.mod-top{
	height: 69px;
	border-top: 1px solid #d6d6d6;/*no*/
	font-size: 22px;/*px*/
	.reson{
		padding: 25px;
		color: #666;
	}
}
/* ---选择未完成的原因--- */
.mod-main{
	width: 700px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 25px;
	color: #333;
	.status{
		display: block;
		width: 100%;
		height: 85px;
		line-height: 85px;/*px*/
		border: none;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		text-align: left;
		.reason{
			display: inline-block;
		}
		.isema{
			display: none;
			color: #04ad1d;
		}
	}
	.status.active{
		.isema{
			display: block;
		}
		color: #04ad1d;
	}
	textarea{
		width: 660px;
		height: 140px;
		line-height: 37px;
		padding: 10px 20px;
		border-radius: 4px;
		resize: none;
		/*禁止拖动大小*/
		/*px*/
		margin-bottom: 54px;
	}
}

/* ---按钮样式--- */
.mod-btn{
	position: fixed;
	bottom: 0;
	border-top: 1px solid #ccc;/*no*/
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding: 25px 0;
	.ui-btn{
		width: 680px;
	}
}


