@charset "UTF-8";
@import "../common/common";
a{
    color: #000;
    font-weight: bold;
    font-size: 26px;
}
.mod-top{
    width:100%;
    height: 236px;
    position: absolute;
    top: 0;
    .top{
        .bg-picture{
            width: 100%;
            height: 240px;
            background: url(../../images/b-detail/1.png) no-repeat;
            text-align: center;
            background-size:100%;
            .icon{
                padding-top: 17px;
               img{
                   width: 123px;
                   height: 123px;
                   border-radius: 50%;
               }
            }
            .pro{
                color: #fff;
                margin-top: 15px;
                font-size: 22px;
            }
            .info{
                color: #fff;
                margin-top: 10px;
                font-size: 16px;/*px*/
                span{
                    padding: 4px;
                    border: 1px solid #fff;/*no*/
                    border-radius: 3px;
                }
            }
        }
    }
}

.mod-con{
   width: 100%;
   position: absolute;
   top: 236px;
   bottom: 119px;
   overflow: auto;
   background-color:#eee ;
   .tab{
       width: 100%;
       height: 87px;
       border-bottom: 1px solid #eee;/*no*/
       background-color: #fff;
       .one{
           width: 49%;
           height: 85px;
           float: left;
           line-height: 85px;
           text-align: center;
           .company{
               display: inline-block;
               width: 110px;
               height: 80px;
               border-bottom: 3px solid #0044CC;
           }
       }
       .two{
           width: 49%;
           height: 85px;
           float: left;
           line-height: 85px;
           text-align: center;
           .service{
               display: inline-block;
               width: 110px;
               height: 80px;
           }
       }
    }
   .mod-tab1{
       .mod-up{
           background-color: #fff;
           .txt{
               padding: 30px 20px;
               .title{
                   font-size: 18px;/*px*/
               }
               .con{
                   font-size: 18px;/*px*/
                   margin-top: 10px;
                   word-break: break-all;
                   width: 710px;
               }
           }
           .pic{
               width: 100%;
               height: 293px;
               img{
                width:750px;
               }
           }
       }
       .mod-down{
           padding-left: 22px;
           width:728px;
           .title{
               font-size: 20px;/*px*/
               height: 58px;
               line-height: 58px;
           }
           .zone{
                  width:100%;
                  overflow:hidden;
                  margin-left:-10px;
               .zone-one{
                   padding: 26px 24px 20px 24px;
                   width: 300px;
                   height: 268px;
                   background-color: #fff;
                   float: left;
                   margin-left:10px;
                   .pic{
                       width: 300px;
                       height: 180px;
                       img{
                           width: 300px;
                           height: 180px;
                       }
                   }
                   .bt{
                       font-size: 24px;/*px*/
                       margin-top: 20px;
                   }
                   .txt{
                       font-size: 18px;/*px*/
                       margin-top: 7px;
                   }
               }
               
           }
       }
   }
   .mod-tab2{
       display: none;
       margin-top: 15px;
       .creatul{
        .item {
            width: 650px;
            margin: 0 auto;
            background:#fff;
            list-style:none;
            height: 134px;
            padding:18px 25px 18px 25px;
            border-bottom: solid 1px #dddddd;/*no*/
            position: relative;
            .itema{
                display: inline-block;
            }
            .soft{
                margin-left:5px; 
            }
            .tool{
                position:absolute;
                top: 24px;
                right:30px;
                line-height: 24px;
                font-size: 14px;/*px*/
                .soft{
                    margin-left:6px; 
                } 
                span{
                    display: inline-block;
                    line-height: 25px;
                    font-size: 16px;/*px*/
                    border: solid 2px #40d1ad;/*no*/
                    border-radius: 4px;
                    color:#40d1ad;
                }
            }
            .img{
                img{
                    width:224px;
                    height:133px;
                }
            } 
            .cnt{
                padding-left:15px;
                width: 400px;
                .title{
                    h3{
                        font-size: 26px;/*px*/
                    }
                    line-height: 44px;
                    color: #333;
                }
                .details{
                    color:#666;
                    overflow: hidden;
                    height:86px;
                    p{
                        font-size: 22px;/*px*/
                        line-height: 30px;
                    }
                }
            }
        }
    }
   }
}



.mod-footer{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 119px;
   .s-need{
       float: left;
       .fb{
           width: 294px;
           height: 119px;
           font-size: 26px;/*px*/
           background:url(../../images/b-person/bg-l.png) no-repeat;
           background-size:cover;
           color: #fff;
           border: none;
           .isema-publish{
               margin-right: 5px;
           }
       }
   }
   .s-talk{
       .zx{
           width: 456px;
           height: 119px;
           font-size: 26px;/*px*/
           background:url(../../images/b-person/bg-r.png) no-repeat;
           background-size:cover;
           border: none;
       }
   }
}

