@charset "UTF-8";
@import "../common/common";
body,html{
    width: 100%;
    height: 100%;
}
h1,p{
    margin: 0;
    padding: 0;
}
.mod-top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 236px;
    .top{
        .bg-picture{
            display: block;
            width: 100%;
            height: 236px;
            background: url(../../images/b-detail/1.png) no-repeat;
        }
    }
}

.mod-con{
    overflow: auto;
    position: absolute;
    top: 236px;
    bottom: 119px;
   .mod-conup{
       padding: 21px;
       .con-1{
           overflow: hidden;//清除浮动
           .title{
               float: left;
               font-size: 26px;/*px*/
           }
           .title-right{
               float: right;
              span{
               border: 1px solid #40d1ad; /*no*/
               margin-left: 5px;
               padding: 3px;
               color: #40d1ad;
               border-radius: 5px;
              }
           }
       }
       .con-2{
           .con-detail{
               margin-top: 24px;
               width: 706px;
               word-break: break-all;
               font-size: 18px;/*px*/
           }
       }
       .con-3{
           margin-top:24px ;
           .price{
               font-style: normal;
               font-size: 24px;/*px*/
               color: #40d1ad;
           }
           .ck-price{
               margin-left: 15px;
               font-size:18px ;/*px*/
               font-weight: normal;
           }
       }
   }
   .mod-condown{
       .title{
           padding: 21px;
           background-color:#eee ;
           h3{
            font-size: 18px;/*px*/
           }
       }
       .con{
           padding-left: 21px;
           margin: 5px 0 20px 0;
           h3{
               font-size: 18px;/*px*/
               margin-top: 20px;
           }
           p{
               width: 706px;
               word-break: break-all;
               font-size: 18px;
           }
       }
   }
}

.mod-footer{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 119px;
   .s-need{
       float: left;
       .fb{
           width: 294px;
           height: 119px;
           font-size: 26px;
           background-color: #00e3b7;
           color: #fff;
           border: none;
           .isema-publish{
               margin-right: 5px;
           }
       }
   }
   .s-talk{
       .zx{
           width: 456px;
           height: 119px;
           font-size: 26px;
           background-color: #eee;
           border: none;
       }
   }
}

