@charset "UTF-8";
@import "../common/common";

/*部分样式相同的部分*/
	.my-need, .my-product, .my-company{
			height:80px;
			line-height:80px;
			border-bottom:1px solid #eee;/*no*/
			font-size:24px;/*px*/
			color:#000;
			padding:0 20px 0 25px;
			.isema-arrow-right{
				float:right;
			}
		}

.mod-top{
    width:100%;
    height: 236px;
    .top{
        .bg-picture{
            width: 100%;
            height: 248px;
            background: url(../../images/b-detail/1.png) no-repeat;
            text-align: center;
            background-size:100%;
            .icon{
                padding-top: 20px;
               img{
                   width: 123px;
                   height: 123px;
                   border-radius: 50%;
               }
            }
            .pro{
                color: #fff;
                margin-top: 15px;
                font-size: 22px;
            }
            .info{
                color: #fff;
                margin-top: 10px;
                font-size: 16px;/*px*/
                .linenone{
					margin-right:10px;
                }
                .lineleft{
                	border-left:1px solid #fff;
                	padding-left:10px
                }
            }
        }
    }
}
/*总的内容*/
.mod-con{
	/*上面的内容*/
	.up-con{
		height:330px;
		border-bottom:1px solid #eee;/*no*/
	
		.diff-con{
			height:250px;
			display:flex;
			align-items:center;
			justify-content:space-between;
			padding:0 125px;
			.left-zone{
				position:relative;
				width:102px;
				height:155px;
				float:left;
				text-align:center;
				.zone{

					width:102px;
					height:101px;
					line-height:101px;
					background-color:#2bd1aa;
					border-radius:10px;
				}
				.square{
						position:absolute;
						top:-8px;
						right:-8px;
						width:25px;
						height:25px;
						background-color:#f00;
						border-radius:50%;
						line-height:25px;
						font-size:18px;
						color:#fff;
					}
				.isema-doing{
					font-size:55px;
					color:#fff;
				}
				.txt-doing{
					margin-top:15px;
				}
			}
			.right-zone{	
				position:relative;
				width:102px;
				height:155px;
				float:left;
				text-align:center;
				.zone{

					width:102px;
					height:101px;
					line-height:101px;
					background-color:#ff4545;
					border-radius:10px;
				}
				.isema-shutdown{
					font-size:55px;
					color:#fff;
				}
				.txt-doing{
					margin-top:15px;
				}
			}
		}
	}
	/*中间颜色块*/
	.col{
		width:750px;
		height:46px;
		background-color:#eee;/*no*/
	}
	/*最下面的内容*/
	.down-con{
		.my-need{
			height:80px;
			line-height:80px;
			border-bottom:1px solid #eee;/*no*/
			font-size:24px;/*px*/
			color:#000;
			padding:0 20px 0 25px;
			.isema-arrow-right{
				float:right;
			}
		}
	}
}