@charset "UTF-8";
@import "../common/common";
@import "../common/slider/slider";
body {
    background-color: #eee;
}

.w-750{
    width: 750px;
    margin: 0 auto;
}

/*button*/

/*slider*/
.mod-slider {
    height: 265px;
    .ui-slider {
        height: 265px;
        .ui-slider-navigation {
            display: none;
        }
        .ui-slider-pagination {
            font-size: 0;
            height: 12px;
            bottom: 15px;
            li {
                display: inline-block;
                margin-right: 5px;
                margin-left: 5px;
                a {
                    width: 60px;
                    height: 12px;
                    float: left;
                    background-color: #c8eff0;
                    float: left;
                    border-radius: 12px;
                    border: none;
                    &.active {
                        margin-top: 0px;
                        background-color: #40d1ad;
                    }
                }
            }
        }
    }
    .ui-slider-slide {
        img {
            width: 750px;
            height: 265px;
        }
    }
}
/*弹窗样式*/
.mod-box{
    .btn{
        width: 600px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 24px;/*px*/
        display: block;
        margin: 20px auto;
        background-color: #ccc;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
    }
}
/*图片列表*/
.mod-img-list{
    .item{
        width: 750px;
        height: 441px;
        img{
           width: 750px;
           height: 441px; 
        }
    }
}
