@charset "UTF-8";
@import "../common/common";
@import "../common/slider/slider";
body {
    background-color: #fff;
}

h1 {
    display: block;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #40d1ad;
    height: 36px;
    line-height: 36px;
    color: #40d1ad;
}

.w-750 {
    width: 750px;
    margin: 0 auto;
}