@charset "UTF-8";
@import "../common/common";
body,html{
	background-color:#eee;
}
.mod-page{
	padding:20px 25px 0 23px;
	ul{
		.main-con{
			width:653px;
			padding:12px 25px 20px 24px;
			background-color:#fff;
			margin-top:10px;
			.con-t{
				height:77px;
				border-bottom:1px solid #eee;/*px*/
				.head{
					display:inline-block;
					width:58px;
					height:58px;
					float:left;
					border-radius:50%;
					border:1px solid #f00;
					img{
						width:58px;
						height:58px;
						border-radius:50%;
					}
				}
				.user{
					float:left;
					margin:20px 0 0 20px;
					font-size:22px;
				}
				.price{
					float:right;
					margin-top:20px;
					font-size:26px;
					color:#2bd1aa;
				}
			}
			.con-c{
				padding-top:20px;
				.clearfix{
					overflow:hidden;
					.title{
						float:left;
					}
					.soft{
						float:right;
						border:1px solid #2bd1aa;
						color:#2bd1aa;
						padding:3px;
						font-size:18px;
						border-radius:4px;
					}
				}
				.txt{
					margin-top:17px;
					font-size:20px;
				}
			}
			.con-f{
				margin-top:20px;
				.info{
						font-style:normal;
						font-size:18px;
						color:#bdbdbd;
					.num{
						font-style:normal;
						font-size:18px;
					}
				}
				.time{
					float:right;
					font-size:18px;
					color:#ffd691;
				}
			}
		}
	}
}
