@charset "UTF-8";
@import "../common/common";
.a{
	color:#eee;
	border-radius: 10px;
	font-smoothing: antialiased;
	box-sizing: content-box;
}

h1{
	font-size: 30px;
	height: 4px;
}

img{
	border:1px solid yellow; /*px*/
}



