/* Input */

.a {
    background: url(../../images/sprites/weibo-active.png) no-repeat 0 0;
}

.b {
    background: url(../../images/sprites/weibo-hover.png) no-repeat 0 0;
}

.c {
    background: url(../../images/sprites/weibo.png) no-repeat 0 0;
}

.b {
    background: url(../../images/share/pt.png) no-repeat 0 0;
}

.e {
    background: url(../../images/share/pt2.png) no-repeat 0 0;
}
