@charset "UTF-8";
@import "../common/common";
body{
  background-color: #f5f5f5;
}
.bg-c{
  background-color: #fff;
}
.common-pad{
  @extend .bg-c;
  line-height: 94px;
  label{
    margin:0 20px;
    font-size: 24px;/*px*/
    color: #333;
  }
  padding: 0 20px;
}
.mod-require{
  input{
    height: 94px;
    padding: 0 20px;
    font-size: 24px;/*px*/
    color: #333;
    border: none;
    outline: none;
  }
  .title{
    input[type="text"]{
      width: 80%;
    }
    border-bottom: 1px solid #cecece;/*no*/
  }
  .mod-classify{
    border-bottom: 1px solid #cecece;/*no*/
    @extend .bg-c;
    .title{
      span{
        margin-left: 40px;
        font-size: 24px;/*px*/
        color: #aaa;
      }
      border:none;
    }
    .lists{
      margin-left: 40px;
      padding-bottom: 20px;
      input{
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    .list{
      width: 150px;
      margin: 0 25px 35px 0;
      text-align: center;
      line-height: 50px;
      font-size: 24px;/*px*/
      color: #333;
      background-color: #ececec;
      border-radius: 5px;
      cursor: pointer;
      &:nth-of-type(4n){
        margin-right: 0;
      }
    }
    .checked{
      background-color: #2bd1aa;
      color: #fff;
    }
  }
  .description{
    border-bottom: 1px solid #cecece;/*no*/
    textarea{
      width: 95%;
      padding: 0 20px;
      font-size: 24px;/*px*/
      border: none;
      outline: none;
    }
  }
  .date{
    border-bottom: 1px solid #cecece;/*no*/
    input[type="date"]{
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .day{
      color: #aaa;
    }
    .isema{
      font-size: 24px;/*px*/
      color: #aaa;
    }
  }
  .mod-quote{
    @extend .bg-c;
    border-bottom: 1px solid #cecece;/*no*/
    .lists{
      margin-left: 40px;
      padding: 0 0 30px 0;
      border-top:1px solid #f5f5f5;/*no*/
      .content{
        width: 490px;
        margin: 0 auto;
        font-size: 24px;/*px*/
        color: #666;
        input[type="radio"]{
          visibility: hidden;
          width: 0;
          height:0;
          position: absolute;
        }
      }
      .price{
        position: relative;
        margin-top: 20px;
        .unit{
          position: absolute;
          margin-left: -35px;
          line-height: 58px;
          font-size: 24px;/*px*/
          color: #aaa;
        }
        input[type="number"]{
          width: 120px;
          height: 58px;
          padding-right: 40px;
          text-align: right;
          border: 1px solid #ccc;/*no*/
          &:focus{
            border: 1px solid #2bd1aa;/*no*/
          }
        }
        span{
          margin: 0 43px;
          font-size: 28px;
        }
      }
    }
    .list{
      width: 150px;
      margin: 20px 20px 0 0;
      text-align: center;
      line-height: 50px;
      font-size: 24px;/*px*/
      color: #666;
      background-color: #ececec;
      border-radius: 5px;
      cursor: pointer;
      &:nth-child(5){
        margin-right: 0;
      }
    }
    .current{
      background-color: #2bd1aa;
      color: #fff;
    }
  }
  .contact{
    border-bottom: 1px solid #cecece;/*no*/
    input[type="text"]{
      width: 76%;
    }
  }
  .contact-information{
    border-bottom: 1px solid #cecece;/*no*/
    input[type="text"]{
      width: 72%;
    }
  }
  .submit-btn{
    height: 120px;
    margin-top: 20px;
    padding-top: 25px;
    @extend .bg-c;
    input[type="submit"]{
      display: block;
      width: 680px;
      height: 94px;
      margin: 0 auto;
      border-radius: 5px;
      font-size: 28px;/*px*/
      color: #fff;
      background-color: #aaa;
    }
    .submit{
      background-color: #2bd1aa !important;
    }
  }
}


