@charset "UTF-8";
@import "../common/common";
@import "../common/slider/slider";
body {
    background-color: #fff;
}

h1 {
    display: block;
    font-size: 36px;
    /*px*/
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #40d1ad;
    /*no*/
    height: 36px;
    line-height: 36px;
    color: #40d1ad;
}

.w-750 {
    width: 750px;
    margin: 0 auto;
}


/*图片列表*/

.mod-img-list {
    .item {
        width: 750px;
        height: 441px;
        img {
            width: 750px;
            height: 441px;
        }
    }
}

/*iscroll*/

.mod-iscroll {
    background-color: #eee;
}

.ui-iscroll {
    position: absolute;
    z-index: 1;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    .pull-down,
    .pull-up {
        display: none;
        font-size: 24px;/*px*/
        width: 100%;
        color: #333;
        height: 80px;
        line-height: 80px;
        text-align: center;
        vertical-align: middle;
        .isema{
            font-size: 24px;/*px*/
        }
        .isema-loading{
            display: inline-block;
            animation: spinner-spin 1s step-end infinite;
            margin-right: 3px;
        }
    }
}
