body{
	background:#eee;
}
ul,li,ol,h1,h2,h3,h4,h5,h6{
	margin: 0 ;
	padding: 0;
}
ul li, ol li{
	list-style: none;
}
.f-l{
	float:left;
}
.pub-width{
	width:750px;
	margin:0 auto;
}
.mod-search{
	height:57px;
	position: relative;
	z-index: 999;
	.box{
		margin:0 auto;
		background:#fff;
		margin-top:25px;
		width:700px;
		height:57px;
		border:solid 2px #40d1ad;
		border-radius:30px;

		form{
			font-size:22px;
			display:inline-block;
			
			.select{
				font-size: 22px;
				display:inline-block;
				width:160px;
				height:55px;
				line-height: 55px;
				position: relative;
				//overflow: hidden;
				border:none;
				border-radius:20px;
				outline:none;
				//padding-left:20px;
				margin-left:25px;
				//text-align: center;
				//appearance:none;
				//background: none;
				cursor: pointer;
				i{
					position: absolute;
					right:40px;
					font-size: 4px;
					color:#b3c4bf;
				}
				span{

				}
				.option{
					height:0;
					overflow: hidden;
					text-align: center;
					display:block;
					margin-top: 4px;
					font-size: 22px;
				}
				/* option{
					width:200px;
					text-align: center;
					display:block;
					font-size: 22px;
				} */
				.product, .business{
					width:160px;
					height:60px;
					line-height: 60px;
					text-align: center;
					font-size: 22px;
					border-bottom: 1px solid #b3c4bf;
					background:#fff;
				}
				.product:hover, .business:hover{
					color: #40d1ad;
					cursor: pointer;
				}
			}
			.active{
				overflow: visible;
			}
			.ipt{
				width:470px;
				height:52px;
				line-height: 52px;
				border:none;
				border-radius:30px;
				outline:none;
			}
		}
	}
}
.mod-split{
	//display:none;
	height: 60px;
	line-height: 60px;
	padding:0 25px;
	//border: 1px solid #000;/*no*/
	font-size: 22px;
	position: relative;
	z-index: 99;
	.allsplit{
		span{
			position: relative;
			left: -145px;
			display:inline-block;
			padding:0 25px;
			color:#666666;
			cursor: pointer;
			i{
				color:#999;
				padding: 0 8px;
				font-size: 23px;/*px*/
			}
			em{
				display: inline-block;
				width: 100px;
				text-align: center;
				font-style: normal;
			}
		}
	}
	#alllist{
		position: relative;
		//height: 300px;
		li{
			margin: 0;
			padding: 0;
			border-bottom: solid 1px #eee;
			background-color: red;
			cursor: pointer;
		}
		.allspt{
			width: 120px;
			height: 0;
			overflow: hidden;
			position: absolute;
			left: 25px;
		}
		.allarea{
			width: 120px;
			height: 0;
			overflow: hidden;
			position: absolute;
			left: 230px;
		}
	}
}
.mod-creatlist{
	//display:none;
	padding:0 25px;
	.creatul{

		.item {
			background:#fff;
	        list-style:none;
	        height: 172px;
	        padding:18px 25px 18px 25px;
	        border-bottom: solid 1px #dddddd;
	        margin-bottom: 9px;
	        position: relative;
	        .soft{
	        	margin-left:5px; 
	        }
	        .tool{
	        	position:absolute;
	        	top: 24px;
	        	right:30px;
	        	line-height: 24px;
	        	font-size: 14px;/*px*/
		        .soft{
		        	margin-left:6px; 
		        } 
	        	span{
	        		display: inline-block;
	        		line-height: 25px;
	        		font-size: 16px;
	        		border: solid 2px #40d1ad;
	        		border-radius: 4px;
	        		color:#40d1ad;
	        	}
	        }
			.img{
				img{
					width:224px;
					height:133px;
				}
			} 
	        .cnt{
	        	padding-left:15px;
	        	width: 424px;
	        	.title{
	        		h3{
	        			font-size: 24px;
	        		}
	        		padding: 10px 0;
	        		color: #333;/*px*/
	        	}
	        	.details{
	        		font-size: 16px;
	        		color:#666;
	        		overflow: hidden;
	        		height:87px;
	        	}
	        }
	    }
	}
}