.autoprefixer {
    display: flex;
    background: inline("../../images/error-img.png");
    width: width("../../images/error-img.png");
    height: height("../../images/error-img.png");
    background-size: size("../../images/error-img.png");
}
.autoprefixer-1 {
    display: flex;
    background: url("../../images/share/pt.png");
    width: width("../../images/error-img.png",2);
    height: height("../../images/error-img.png",2);
    background-size: size("../../images/error-img.png",3);
}


/* Testing cssnext */

.cssnext {
    background: color(red alpha(-10%));
}


/* Testing precss */

.precss {
    @if 3 < 5 {
        background: green;
    }
    @else {
        background: blue;
    }
}
