@charset "UTF-8";

/*样式重置*/

@import "./reset/reset";

/*全局配置参数*/

@import "./config/config";

/*box*/

@import "./box/box";

/*animate loading*/

@import "./animate/loading";

/*字体*/

@import "../../fonts/ibase/iconfont.css";
@import "../../fonts/isema/iconfont.css";

/*表单*/

@import "./button/button";
@import "./input/input";

/*重置字体样式*/

.ibase,
.isema {
    font-size: 24px;
    /*px*/
}

html {
    color: #000;
    background: #FFF;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

input,
textarea,
a,
button {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p,
ul,
li,
h2,
h3,
input {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/*公共常用样式*/

body {
    font: 24px/24px "PingFang SC", "Helvetica Neue", "Helvetica", "STHeiTi", "sans-serif";
    /*px*/
}

a {
    color: #666;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img-error {
    background: url('../../images/error-img.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.hide {
    display: none;
}

.ui-tag {
    font-size: 20px;
    /*px*/
    $select-color: #40d1ad;
    height: 26px;
    line-height: 26px;
    float: left;
    padding: 0 5px;
    border: 1px solid $select-color;
    color: $select-color;
    margin-right: 5px;
    border-radius: 3px;
}

.ui-empty-list {
    @keyframes scale1 {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    .isema {
        animation: scale1 1s linear infinite;
        margin: 0 auto;
        display: block;
        color: #c5c5c5;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 100px;
        /*px*/
        line-height: 100px;
    }
    .txt {
        margin: 0 auto;
        padding: 20px 0 0 0;
        width: 500px;
        text-align: center;
        font-size: 28px;
        /*px*/
        line-height: 30px;
        color: #999;
    }
}
