.mod-footer {
    padding: 45px 0 60px;
    background-color: #1f2c35;
    .mod-footer-left {
        .img {
            width: 214px;
            height: 62px;
        }
        .tel {
            margin-top: 10px;
            .iyoyo-phone {
                float: left;
                font-size: 32px;
                padding-right: 8px;
            }
            span {
                float: left;
            }
            height: 50px;
            line-height: 50px;
            font-size: 25px;
            color: #95aab8;
        }
        .friendly {
            overflow: hidden;
            margin-top: 15px;
            ul {
                margin-left: -16px;
                li {
                    height: 16px;
                    line-height: 16px;
                    float: left;
                    padding: 0 15px;
                    border-left: 1px solid #95aab8;
                    a {
                        font-size: 16px;
                        color: #95aab8;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .mod-footer-right {
        .support {
            span{
                font-size: 16px;
                color: #95aab8;
            }
            text-align: right;
            color: #95aab8;
            height: 52px;
            line-height: 52px;
            img {
                vertical-align: middle;
                margin-left: 13px;
            }
        }
        .copyright {
            padding-top: 28px;
            p {
                text-align: right;
                font-size: 16px;
                color: #95aab8;
            }
        }
    }
}
