.mod-header {
    position: relative;
    z-index: 10;
    height: 62px;
    line-height: 62px;
    padding: 38px 32px;
    background-color: #fff;
    .logo {
        font-size: 0;
        float: left;
        img {
            width: 214px;
            height: 62px;
        }
    }
    .nav {
        float: left;
        .item {
            float: left;
            font-size: 18px;
            a {
                color: $grayColor;
                &:hover {
                    color: $hoverColor;
                }
            }
            margin-left:30px;
        }
        .hover {
            a {
                color: $hoverColor;
                &:hover {
                    color: $hoverColor;
                }
            }
        }
        padding-right: 80px;
    }
    .search {
        margin-top: 10px;
        float: left;
        position: relative;
        height: 30px;
        line-height: 30px;
        // width: 252px;
        padding: 6px 20px;
        border-radius: 42px;
        border: 1px solid $grayColor;
        input {
            color: $grayColor;
            width: 180px;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            border: 0;
            background-color: transparent;
        }
        .iyoyo {
            background-color: transparent;
            border: 0;
            color: $grayColor;
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            right: 20px;
            top: 5px;
            text-align: center;
        }
    }
    .search-active {
        border-color: $hoverColor;
        .iyoyo {
            color: $hoverColor;
        }
    }
    .login-box {
        .btn {
            display: inline-block;
            padding: 0 18px;
            height: 36px;
            line-height: 36px;
            border: 1px solid $grayColor;
            border-radius: 3px;
            &:hover {
                border-color: $hoverColor;
            }
        }
        .tologin {
            .item {
                float: left;
                margin-left: 20px;
                a {
                    font-size: 18px;
                }
            }
        }
        .logined {
            .user-name {
                display: inline-block;
                width: 80px;
                margin-right: 15px;
            }
            .item {
                float: left;
                font-size: 18px;
            }
            .tips-menu-box {
                position: relative;
                .tips-menu {
                    position: absolute;
                    top: 60px;
                    right: 10px;
                    background-color: #fff;
                    border-radius: 3px;
                    border: 1px solid #b8c6d0;
                    width: 120px;
                    padding: 15px 10px;
                    .tips-menu-item {
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                    }
                    .arrow {
                        position: absolute;
                        line-height: 0;
                        overflow: hidden;
                        display: block;
                    }
                    .arrow i,
                    .arrow b {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-width: 8px;
                        border-style: solid;
                        border-color: transparent;
                        overflow: hidden;
                        font-size: 0;
                        line-height: 0;
                        vertical-align: top;
                        _color: #b8c6d0;
                        _filter: chroma(color=#b8c6d0);
                    }
                    .arrow {
                        top: -16px;
                        right: 20px;
                        i {
                            border-bottom-color: #b8c6d0;
                        }
                        b {
                            border-bottom-color: #fff;
                            margin: 1px 0 0 -16px;
                        }
                    }
                }
            }
        }
    }
}
