.ui-service-providers {
    display: block;
    background-color: #fff;
    float: left;
    width: 298px;
    padding: 20px 25px 25px 25px;
    margin-bottom: 20px;
    &:nth-child(odd) {
        margin-right: 9px;
    }
    .cnt {
        position: relative;
        height: 88px;
        .img {
            position: absolute;
            left: 0;
            top: -10px;
            width: 88px;
            height: 88px;
            overflow: hidden;
            img {
                width: 88px;
                height: 88px;
                border-radius: 50%;
            }
        }
        .title {
            margin: 15px 0 0 105px;
            .name {
                height: 28px;
                line-height: 28px;
                font-size: 28px;
                /*px*/
                font-weight: 700;
            }
            .mod-tags {
                width: 200px;
                overflow: hidden;
                height: 28px;
                margin-top: 10px;
            }
        }
    }
    .desc {
        line-height: 26px;
        height: 52px;
        overflow: hidden;
        text-align: justify;
        margin-top: 10px;
    }
}
