.ui-fix-bar{
	position: fixed;
	right: 0;
	top: 200px;
	.list{
		.item{
			a{
				display: block;
				text-align: center;
				padding:20px 10px;
				width:30px;
				font-size: 18px;
				.iyoyo{
					font-size: 22px;
				}
				border-radius: 3px 0 0 3px;
			}
			margin-bottom: 3px;
		}
		.item-service{
			a{
				color: #4b677b;
				background-color: #fff;
				&:hover{
					background-color: #d1d3d3;
				}
			}
		}
		.item-sign-up{
			a{
				color: #fff;
				background-color: #ff515b;
				&:hover{
					background-color: #ec3e48;
				}
			}
		}
	}	
}