@charset "UTF-8";

/* global env vars */

$primary-color: #f03468;
$fontSize: 46.875; // 750px 宽度
// 计算宽度
@function rem($n) {
    @return ($n / $fontSize) * 1rem;
}


/* ui components customize consts */

$button-fg: #fff;
$button-bg: #ed5565;
$button-border-color: #ed5565;
$button-hover-bg: #d73848;
$button-hover-border-color: #d73848;
$primary_color: #f03468;
