@charset "UTF-8";
/*常用compass组件*/
@import 'compass/css3';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-sizing';
@import 'compass/utilities';
@import 'compass/support';

/*样式重置*/
@import "./reset/reset";

/*全局配置参数*/
@import "./config/config";

/*字体*/
@import "../../fonts/global/iconfont.css";


/*公共常用样式*/
.f-l {
    float: left;
}

.f-r {
    float: right;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img-error {
    background: image-url('error-img.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.hide{
	display: none;
}
